<p id="notice"><%= notice %></p>

<h1>Listing Visits</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Rg</th>
      <th>Cpf</th>
      <th>Department</th>
      <th>User</th>
      <th>Entrada</th>
      <th>Saida</th>
      <th>Empresa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @visits.each do |visit| %>
      <tr>
        <td><%= visit.name %></td>
        <td><%= visit.rg %></td>
        <td><%= visit.cpf %></td>
        <td><%= visit.department %></td>
        <td><%= visit.user %></td>
        <td><%= visit.entrada %></td>
        <td><%= visit.saida %></td>
        <td><%= visit.empresa %></td>
        <td><%= link_to 'Show', visit %></td>
        <td><%= link_to 'Edit', edit_visit_path(visit) %></td>
        <td><%= link_to 'Destroy', visit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Visit', new_visit_path %>
