<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @department.nome %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @department.descricao %>
</p>

<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
