<!DOCTYPE html>
<html>
<head>
  <title>SmartCV</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'app', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

 <%= yield %>


</div>
</body>
</html>
